* text=auto eol=lf
*.dll binary
*.exe binary
*.zip binary
*.pdb binary
*.nupkg binary
*.sh text eol=lf
build.sh text eol=lf
scripts/*.sh text eol=lf
*.cs diff=csharp
*.csproj linguist-generated=true
*.sln linguist-generated=true
